@media print {
    @page { margin: 0; }
}
body {
    font-family: Helvetica;
    background-color: #fafafa;
}
.title {
    font-size: .4in;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 0.35in;
}
.page {
    page-break-after: always;
    margin: 0.75in;
}
.hour {
    display: flex;
}
.time {
    font-size: 18px;
    flex: 0 0 auto;
    align-self: end;
    width: 40px;
}
.line {
    display: flex;
    border-bottom: 1px solid black;
    /*height: 0.5in;*/
}
.txt {
    font-size: 24px;
    align-self: end;
    font-weight: bold;
}
